.left {
	float: left;
}

.top-line-bg {
	border-top: 1px solid #58708b;
}

.zw {
	margin: 20px 10px 20px 0; width: 720px; color: #323b4a;
}

.zw h1 {
	margin: 0;
	padding: 0;
	font-size:24px; 
	border-bottom: 1px solid #58708b;
	
}

.zw-nei {
	padding: 0 20px 20px 20px;
	height: auto;
}

.zw-nei-item {
	padding-top: 30px;
}

.zw-nei-pic {
	width: 240px;
	height: 180px;
}

.zw-nei-ju {
	margin-left: 20px;
	width: 420px;
	color: #323b4a;
}

.zw-nei-title {
	font-size: 18px;
	color: #323b4a;
	line-height: 24px;
}

.zw-nei-js {
	padding: 10px 0 15px 0;
}