<div class="top-line-bg">
	<div class="width">
	<sidebar></sidebar>
	<div class="left zw">
		<h1>地产列表</h1>
		<div class="zw-nei">
			<div ng-repeat="property in $ctrl.show_properties">
				<div class="left zw-nei-item">
					<div class="left zw-nei-pic">
						<img src="../../assets/images/list-pic.jpg" alt="" width="240" height="180" ng-hide="property.images[0].image.filename">
						<img ng-src="../../assets/images/photos/{{ property.images[0].image.filename }}" alt="" width="240" height="180" ng-show="property.images[0].image.filename">
					</div>
					<div class="left zw-nei-ju">
						<div class="zw-nei-title">{{ property.name_zh }}</div>
						<div class="zw-nei-js">{{ property.description_zh }}</div>
						<div><a ui-sref="detail({id: property._id})"><img src="../../assets/images/detail.png" alt="" width="112" height="34"></a></div>
					</div>
				</div>
			</div>
			<ul uib-pagination total-items='$ctrl.pagination.totalItems' items-per-page='$ctrl.pagination.itemsPerPage' ng-model='$ctrl.pagination.current' max-size='$ctrl.pagination.maxSize' class='pagination-sm' boundary-link-numbers='true' ng-change='$ctrl.changePage()'></ul>
		</div>
	</div>
</div>
</div>
