<div class="top-line-bg">
	<div class="width">
	<mngsidebar></mngsidebar>
	<div class="left zw">
		<h1>地产信息</h1>
		<uib-tabset active="activeJustified" justified="true">
		    <uib-tab index="0" heading="Info">
		    	<form class="propadd-form">
		    		<div class="form-group">
		    			<p class="">中文名称<span style="color:red;">*</span></p>
						<input type="text" ng-model="$ctrl.property.name_zh" class="form-control" />	
		    		</div>
					<div class="form-group">
						<p class="">英文名称</p>
						<input type="text" ng-model="$ctrl.property.name_en" class="form-control" />	
					</div>
					<div class="form-group">
						<p class="">地产种类<span style="color:red;">*</span></p>
						<select name="property_type" id="property_type" ng-model="$ctrl.property.property_type" class="form-control">
							<option value="">--请选择--</option>
							<option value="COMMERCIAL PROPERTY">商业地产</option>
							<option value="RESALE HOME">二手房</option>
							<option value="PRE-CONSTRUCTION HOME">期房</option>
							<option value="UNDER CONSTRUCTION HOME">在建</option>
							<option value="BUSINESS">生意</option>
							<option value="INVESTMENT">投资</option>
						</select>	
					</div>
					<div class="form-group">
						<p class="">中文介绍</p>
						<textarea class="form-control" ng-model="$ctrl.property.description_zh" cols="30" rows="10"></textarea>	
					</div>
					<div class="form-group">
						<p class="">英文介绍</p>
						<textarea class="form-control" ng-model="$ctrl.property.description_en" cols="30" rows="10"></textarea>	
					</div>
					<div class="form-group">
						<p class="">vr link</p>
						<input type="text" class="form-control" ng-model="$ctrl.property.vr_link" />
					</div>

					<a type="submit" ng-click="$ctrl.saveProperty()" class="btn btn-default">保存</a>
					<a ng-click="$ctrl.reset()" class="btn btn-default">还原</a>
					<a class="btn btn-default" ng-click="$ctrl.cancel()">取消</a>
				</form>
		    </uib-tab>
		    <uib-tab index="1" heading="Images">
		    	<ul>
					<li ng-repeat="photo in $ctrl.property.images">
						<div class="img-item">
							<div class="img-item-img">
								<img ng-src="../../assets/images/photos/{{ photo.image.filename }}" alt="{{ photo.image.originalname }}" />
							</div>
							<div class="img-item-info">
								<form>
									<div class="form-group">
										<p class="">中文描述</p>
										<textarea name="" id="" cols="30" rows="2" ng-model="photo.description_zh" class="form-control">
											{{ photo.description_zh }}
										</textarea>	
									</div>
									<div class="form-group">
										<p class="">英文描述</p>
										<textarea name="" id="" cols="30" rows="2" ng-model="photo.description_en" class="form-control">
											{{ photo.description_en }}
										</textarea>	
									</div>
									<a href="#" class="btn btn-success item-btn-save" ng-click="$ctrl.updateImage(photo)">Save</a>
									<a href="#" class="btn btn-warning item-btn-reset" ng-click="$ctrl.reset()">Reset</a>
									<a href="#" class="btn btn-danger item-btn-delete" ng-click="$ctrl.removeImage(photo)">Delete</a>
								</form>
							</div>
						</div>
					</li>
				</ul>
		    </uib-tab>
		    <uib-tab index="2" heading="Add Images">
		    	<input type="file" nv-file-select="" uploader="$ctrl.uploader" multiple />
				<ul>
					<li ng-repeat="item in $ctrl.uploader.queue">
						Name: <span ng-bind="item.file.name"></span>
						<button ng-click="item.remove()">Remove</button>
						<!-- <button ng-click="item.upload()">Upload</button> -->
					</li>
				</ul>
				<button ng-click=$ctrl.uploader.uploadAll()>Upload All</button>
		    </uib-tab>
		    <uib-tab index="3" heading="VR">
		  		<div>
		  			<iframe ng-src="{{ $ctrl.trustSrc($ctrl.property.vr_link) }}" frameborder="no" border="0" style="width: 700px; height: 350px"></iframe>
		  		</div>
		  	</uib-tab>
		  </uib-tabset>
	</div>
</div>
</div>