<div class="side">
	<a ui-sref="mnglist({cat: 'ALL'})">全部房产</a>
	<a ui-sref="mnglist({cat: 'COMMERCIAL PROPERTY'})">商业地产</a>
	<div class="side-resi-bt">	
		<a href="#">住宅地产</a>
		<div class="side-resi">
			<a ui-sref="mnglist({cat: 'RESALE HOME'})" class="side-resi-sub">二手房</a>
			<a ui-sref="mnglist({cat: 'PRE-CONSTRUCTION HOME'})" class="side-resi-sub">期房</a>
			<a ui-sref="mnglist({cat: 'UNDER CONSTRUCTION HOME'})" class="side-resi-sub">在建</a>
		</div>
	</div>
	<a ui-sref="mnglist({cat: 'BUSINESS'})">生意</a>
	<a ui-sref="mnglist({cat: 'INVESTMENT'})">投资</a>
	<a ui-sref="mngaboutme">关于我们</a>
</div>
